.header{
    width: 90%;
    margin: 0 auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn{
    background-color:#30B868 ;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #17974c;
}
.btn:hover{
    background-color:#17974c;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #30B868;
}
.nav-item a{
    font-size: 16px;
    padding: 10px;
    color: black;
    font-weight: 500;
}
.nav-item{
    margin-top: 10px;
}
.nav-logo img{
    width: 130px;
}