.header{
    width: 90%;
    margin: 0 auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn{
    background-color:#30B868 ;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #17974c;
}
.btn:hover{
    background-color:#17974c;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #30B868;
}
.btn-two{
    border: 2px solid white;
    background-color:transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.nav-item a{
    font-size: 16px;
    padding: 10px;
    color: black;
    font-weight: 500;
}
.nav-item{
    margin-top: 10px;
}
.nav-logo img{
    width: 130px;
}
/* banner section */
.banner{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
}
.banner h1{
    color: white;
    font-size: 54px;
}
.banner h1 span{
    color: #17974c;
}
.banner-des{
    color: white;
    font-size: 22px;
}
.banner-access{
   
    text-align: center;
   background-color: white;
   color: #17974c;
   padding: 10px 20px;
   border-radius: 20px;
   font-size:18;
   font-weight: 500;
}