.header{
    width: 80%;
    margin: 0 auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn{
    background-color:#30B868 ;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #17974c;
    font-size: 16px;
}
.btn:hover{
    font-size: 16px;
    background-color:#17974c;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #30B868;
}
.btn-two{
    border: 2px solid white;
    background-color:transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.btn-two:hover{
    background-color:#30B868 ;
    padding:10px;
    border-radius: 5px;
    color: white;
    border: 2px solid #17974c;
    font-size: 16px;
}
.nav-item a{
    font-size: 16px;
    padding: 10px;
    color: black;
    font-weight: 500;
}
.nav-item{
    margin-top: 10px;
}
.nav-logo img{
    width: 130px;
}
/* banner section */
.banner{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
}
.banner h1{
    color: white;
    font-size: 54px;
}
.banner h1 span{
    color: #17974c;
}
.banner-des{
    color: white;
    font-size: 22px;
}
.banner-access{
   
    text-align: center;
   background-color: white;
   color: #17974c;
   padding: 10px 20px;
   border-radius: 20px;
   font-size:18;
   font-weight: 500;
}
/* notes section */
.notes{
    text-align: center;
    width: 80%;
    margin:0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.notes p{
    color: #627382;
}
.notes h1{
    font-size: 38px;
}
.note-cards{
    display: flex;
    gap: 20px;
}
.note-card{
    margin-top: 30px;
    
     padding: 20px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.15);
     border-radius: 10px;


}
.note-card p{
    color: #627382;
}
.note-card img{ 
    padding: 10px;
    background-color: #f95555;
    color: white;
    border-radius: 50px;
}

/* second brain seection */
.brain{
   width: 80%;
   margin: 0 auto;
   margin-top: 60px;
   margin-bottom: 60px;
}
.brain-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.brain-content span{
    color: #17974c;
     font-size: 20px;
    font-weight: 500;
}
.brain-img{
    width: 600px;
}

.brain p{
    color: #627382;
}
.content-list li{
    list-style: none;
    padding: 3px;
    font-size: 18px;
    font-weight: 400;
    
}
.content-list{
    list-style: none;
  margin: 0;
  padding: 0;
}
/* early access */
.early-access{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #f7f6f2;
    border-radius: 10px;
    padding: 50px;
}
.early-access h1{
    font-size: 44px;
}
.early-access p{
    color: #627382;
    font-size: 18px;
}